@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:ital@0;1&display=swap");
.header {
  background-color: #eee;
  color: #161616;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  font-family: "Roboto Slab";
}
.header-comment {
  margin: 0 35px 10px 0;
  color: #606060;
}
.header .header-nav-bar {
  display: flex;
  flex-direction: row;
}
.header .header-nav-bar-link {
  border: 1px solid #161616;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: #161616;
  cursor: cell;
}
.header .header-nav-bar-link .my-email {
  font-size: 13px;
}
.header .header-nav-bar-link:hover {
  background-color: #606060;
  border: 1px solid #606060;
  color: #ddd;
  transition: 0s;
}
.header .header-nav-bar-link:hover > *,
.header .header-nav-bar-link:hover .my-email,
.header .header-nav-bar-link:hover .my-curriculum {
  background-color: #606060;
  transition: 0s;
}
.header .header-nav-bar-link p {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
}

.about {
  width: 100vw;
  text-align: center;
  margin: 0px auto;
  padding: 0 10px 0 10px;
  color: #606060;
  font-family: "Roboto";
  font-weight: 400;
}
.about-name {
  font-style: italic;
}
.about-name-macro {
  font-family: "Roboto Slab";
  font-style: normal;
  color: orangered;
}
.about-name-myName {
  font-style: normal;
  color: orange;
}
.about-print-specifier {
  color: rgb(143, 184, 30);
}
.about-print-message {
  color: green;
}
.about-me {
  text-align: center;
  font-size: 16px;
}
.about-me-type {
  color: orangered;
}
.about-me-variable {
  color: rgb(158, 104, 5);
}

.projects {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.projects > h4 {
  margin: 0;
  margin-bottom: 20px;
  color: #161616;
}
.projects-container {
  display: flex;
  margin: 0px auto 5rem auto;
  height: 12vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.projects-container-project {
  color: #ddd;
  margin: 10px;
}
.projects-container-project .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15rem;
  max-height: 15rem;
  border-radius: 5px;
  width: 25vw;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: linear-gradient(45deg, rgb(24, 24, 27), rgb(39, 39, 42));
}
.projects-container-project .card-body * {
  background-color: transparent;
  padding: 0 0 3px 0;
}
.projects-container-project .card-body .python {
  color: rgb(20, 166, 214);
  border-bottom: 1px solid rgba(20, 165, 214, 0.5);
}
.projects-container-project .card-body .csharp {
  color: rgb(25, 167, 25);
  border-bottom: 1px solid rgba(25, 167, 25, 0.5);
}
.projects-container-project .card-body .react-js {
  color: rgb(168, 64, 228);
  border-bottom: 1px solid rgba(168, 64, 228, 0.5);
}
.projects-container-project .card-body .card-text {
  font-weight: bolder;
}
.projects-container-project .card-body .btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects-container-project .card-body .btn-group .btn-link {
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 10px;
  background-color: #ddd;
  width: 50%;
  margin: 10px auto;
  color: #161616;
}
.projects-container-project .card-body .btn-group .btn-link:hover {
  background-color: #bbb;
  transition: 300ms;
}

@media screen and (max-width: 900px) {
  .languages {
    position: relative;
    text-align: center;
  }
  .header {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header-comment {
    text-align: center;
    margin: 0 20px 10px 0;
    color: #606060;
  }
  .projects > h6 {
    font-size: 12px;
  }
  .projects-container-project {
    font-size: 14px;
  }
  .projects-container-project .card-body {
    display: flex;
    flex-direction: column;
    min-height: auto;
    max-height: auto;
    border-radius: 5px;
    width: 90vw;
  }
  .projects-container-project .card-body .btn-group .btn-link {
    font-size: 16px;
    width: 75px;
    margin: 2px auto;
  }
}
@media screen and (min-width: 900px) {
  .languages {
    position: absolute;
    display: flex;
    margin: 35px;
    padding: 5px;
  }
  .projects-container-project {
    font-size: 14px;
  }
  .projects-container-project .card-body .btn-group .btn-link {
    font-size: 16px;
    width: 75px;
    margin: 5px auto;
  }
}
@media screen and (max-width: 430px) {
  .header-comment {
    margin: 0 20px 10px 0;
    color: #606060;
  }
  .header .header-nav-bar {
    flex-wrap: wrap;
  }
  .header .header-nav-bar-link {
    padding: 0 35px 0 35px;
    margin: 5px auto;
  }
}
@media screen and (max-width: 380px) {
  .header-comment {
    margin: 0 10px 10px 0;
    font-size: 12.3px;
    color: #606060;
  }
  .header .header-nav-bar {
    flex-wrap: wrap;
  }
  .header .header-nav-bar-link {
    padding: 0 35px 0 35px;
    margin: 5px auto;
  }
  .projects-container-project {
    font-size: 14px;
  }
  .projects-container-project .card-body {
    display: flex;
    flex-direction: column;
    min-height: auto;
    max-height: auto;
    border-radius: 5px;
    width: 90vw;
  }
  .projects-container-project .card-body .btn-group .btn-link {
    font-size: 16px;
    width: 75px;
    margin: 2px auto;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 200;
  scroll-behavior: smooth;
  background-color: #eee;
}

main {
  width: 100vw;
  height: 80vh;
}

.language {
  position: relative;
  padding: 5px;
  margin: 5px;
  border: 1px solid #161616;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: #eee;
  color: #161616;
  font-family: "Roboto Slab";
  text-decoration: none;
  color: #161616;
}
.language:hover {
  background-color: #606060;
  border: 1px solid #606060;
  color: #ddd;
  transition: 0s;
}
.language:hover > * {
  background-color: #606060;
  transition: 0s;
}
.language p {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
}

.ptbr:hover,
.ptbr.active {
  background-color: rgba(3, 87, 3, 0.7450980392);
  border: 1px solid rgba(3, 87, 3, 0.7450980392);
  color: #d9ff00;
  transition: 0s;
}
.ptbr:hover > *,
.ptbr.active > * {
  background-color: #d9ff00;
  transition: 0s;
}

.eng:hover,
.eng.active {
  background-color: #6d4566;
  border: 1px solid #6d4566;
  color: #ffffff;
  transition: 0s;
}/*# sourceMappingURL=main.css.map */